* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Times, serif;
  line-height: 1.2;
}
article, section {
  width: 50em;
  margin: 20em auto;
}

.container {
  margin: 2em 2em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  row-gap: 3em;
  column-gap: 3em;
}

.card {
  width: 200px;
  border: 2px solid #333;
  border-radius: 20px;
  aspect-ratio: 2 / 3;
  position: relative;
  background-color: white;
  box-shadow: 10px 10px 10px 1px rgb(0 0 0 / 20%);
}

.content-top, .content-bot {
  width: 50px;
  position: absolute;
  text-align: center;
  padding: 5px;
  color: #f33;
  font-weight: bold;
}

.content-mid {
  position: absolute;
  margin: 50% auto;
  text-align: center;
}

.content-top {
  top: 5px;
  left: 5px;
}

.content-bot {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

img {
  width: 50%;
}

p {
  font-size: 24px;
}
